body{
    background-image: url("../imagenes/game.jpg");
    background-size: cover; 
}

.box-1{
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 230px;
   
}
.fuente-g{
    font-family: cinzel,serif;
    font-size: 400px;
    font-weight: 600px;

}
/* cinzel-regular - latin */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 600px;
    src: url('../fonts/cinzel-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/cinzel-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cinzel-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cinzel-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cinzel-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cinzel-v19-latin-regular.svg#Cinzel') format('svg'); /* Legacy iOS */
  }
  /* cinzel-800 - latin */
  @font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 800px;
    src: url('../fonts/cinzel-v19-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/cinzel-v19-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cinzel-v19-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cinzel-v19-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cinzel-v19-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cinzel-v19-latin-800.svg#Cinzel') format('svg'); /* Legacy iOS */
  }
