@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container-gen{
    width: auto;
    height: auto;
}
.calendario {
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Cherry Bomb One', cursive;
    font-size: 1.5em;
}

.titulo {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

.dias-semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.dia-semana {
    padding: 25px;
    border: 1px solid #000000;
    background-color: rgb(254, 205, 205) ;
}

.dias-mes {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.dia-mes {
    padding: 30px;
    border: 1px solid #000000;
    background: rgb(234, 77, 77);
}
