body{
    background-color: #E9F6B8 ;
}
.container{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.box1{
    text-align: center;

}
.box2{
    text-align: center;
}
.box3{
    text-align: center;
}