/*Estilo utilizando elementos html*/
body {
    background-image: url("../imagenes/asterik.jpg");
    background-size: cover;
}
h1{
    /*Propiedades */
    text-align: center;
    color: rgb(146, 55, 244);
}
h2{
    /*Propiedades */
    text-align: center;
    color: rgb(210, 119, 228);
}
.fuente-especial{
    /*Propiedades */
    text-align: left;
    color: rgb(235, 112, 112);
}    
li.fuente-especial{
    color: #59ef37
}
p.fuente-especial{
    color: #f8df7e;
    font-size: 24px;
}

a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
}

a:hover{
    color: rgb(195, 2, 249);
}

