/*Estilo utilizando elementos html*/
body {
    background-image: url(imagenes/fondoblanco.png);
    background-size: cover;
}
h1{
    /*Propiedades */
    text-align: center;
    color: rgb(0, 0, 0);
}
h2{
    /*Propiedades */
    text-align: center;
    color: rgb(0, 0, 0);
}
.fuente-especial{
    /*Propiedades */
    text-align: left;
    color: rgb(0, 0, 0);
}    
li.fuente-especial{
    color: #59ef37
}
p.fuente-especial{
    color: #000000;
    font-size: 24px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.imageneseje{
    height: 50%;
    width: 50%;
}
a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(252, 0, 0);
}

a:hover{
    color: rgb(195, 2, 249);
}

