/*Estilo utilizando elementos html*/
body {
    background-image: url("../imagenes/asterik.jpg");
    background-size: cover;
}
h1{
    /*Propiedades */
    text-align: center;
    color: rgb(132, 235, 163);
}
h2{
    /*Propiedades */
    text-align: center;
    color: rgb(101, 180, 233);
}
.fuente-especial{
    /*Propiedades */
    text-align: left;
    color: rgb(241, 31, 31);
}    
li.fuente-especial{
    color: #B03A2E
}
p.fuente-especial{
    color: #F4D03F;
}

a{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}

a:hover{
    color: red;
}

