* {
    padding: 0;
    margin-right: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container-gen{
    display: flex;
    /* justify-content: center; */
}
input[type="text"] {
    display: block;
    height: 30px;
    margin-bottom: 20px;
    border: 2px solid rgb(64, 64, 64, .8);
    font-size: 1.4em;
}

input[type="button"] {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    background-color: dodgerblue;
    border: none;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}

.barra-progreso {
    width: 250%;
    height: 20px;
    background-color: #f0f0f0;
    margin-top: 5px;
    margin-bottom: 10px;
    position: relative;
}

.barra {
    height: 100%;
    background-color: #FF6C00;
    width: 0;
}
i{
    color: #F1C40F;
}
